*.v linguist-language=Verilog
*.sv linguist-language=SystemVerilog
*.vhd linguist-language=VHDL 
*.gprj linguist-vendored=false
*.cst linguist-vendored=false
*.sdc linguist-vendored=false
*.ipc linguist-vendored=false
*.mod linguist-vendored=false
*.bin binary
*.exe binary
*.mi text
