* linguist-vendored
.assets/* linguist-vendored=false
ROM/* linguist-vendored=false
*.gprj linguist-vendored=false
*.exe linguist-vendored=false
*.cst linguist-vendored=false
*.sdc linguist-vendored=false
*.ipc linguist-vendored=false
*.mod linguist-vendored=false
*.bin linguist-vendored=false
*.mi linguist-vendored=false
*.v linguist-language=Verilog
*.sv linguist-language=SystemVerilog
*.vhdl linguist-language=VHDL
*.vhd linguist-language=VHDL
